
h1{
    white-space: normal;
}

body{
    background-color: rgb(87, 78, 78);
    color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.column-style{
    background-image: linear-gradient(dimgrey, silver);
    color:whitesmoke;
    text-align: center;
    border-style: solid;
    border-radius: 5%;
    border-color: whitesmoke;
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.remove-dept-button{
    background-color: grey;
    color: white;
    height: 25px;
    width: 100px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13;
    border-color: rgb(214, 56, 56);
    border-width: 1px;
    transition: background-color 0.5s;
}

.remove-dept-button:hover{
    background-color: rgb(214, 56, 56);
}
.remove-dept-button:active{
    background-color: rgb(161, 44, 44);
}

.divider{
    border-style: solid;
    border-top-color: black;
    border-bottom-color: black;
    border-color: black;
}

.maybe-prod-divider{
    text-align: right;
    border-style: solid;
    border-top-color: black;
    border-bottom-color: black;
    border-color: black;
    background-image: linear-gradient(goldenrod, darkgrey);
}

.not-prod-divider{
    text-align: right;
    border-style: solid;
    border-top-color: black;
    border-bottom-color: black;
    border-color: black;
    background-image: linear-gradient(darkred, darkgrey);
}

.prod-divider{
    text-align: right;
    border-style: solid;
    border-top-color: black;
    border-bottom-color: black;
    border-color: black;
    background-image: linear-gradient(darkolivegreen, darkgrey);
}

img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.favourites-button {
    background-color: grey;
    color: white;
    height: 25px;
    width: 100px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13;
    border-color: rgb(165, 202, 78);
    border-width: 2px;
    transition: background-color 0.5s;
  }

.favourites-button:hover{
    background-color: rgb(165, 202, 78);
}

.favourites-button:active{
    background-color: rgb(128, 158, 57);
}

.logout-button {
    background-color: grey;
    color: white;
    height: 25px;
    width: 100px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13;
    border-color: rgb(214, 56, 56);
    border-width: 1px;
    transition: background-color 0.5s;
  }

.logout-button:hover{
    background-color: rgb(214, 56, 56);
}

.logout-button:active{
    background-color: rgb(192, 51, 51);
}

.return-button {
    background-color: grey;
    color: white;
    height: 45px;
    width: 120px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13;
    border-color: rgb(226, 162, 44);
    border-width: 1px;
    transition: background-color 0.5s;
  }

.return-button:hover{
    background-color: rgb(226, 162, 44);
}
.return-button:active{
    background-color: rgb(179, 127, 32);
}
