body{
    background-color: black;
    color: whitesmoke;
}

.gallery {
    display: grid;
    grid-template-rows: repeat(4, 5vw);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 200px;
}

img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.favourites-button {
    background-color: grey;
    color: white;
    height: 25px;
    width: 100px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13;
    border-color: rgb(165, 202, 78);
    border-width: 2px;
  }

.favourites-button:hover{
    background-color: rgb(165, 202, 78);
}

button {
    background-color: grey;
    color: white;
    height: 25px;
    width: 100px;
    border-radius: 6px;
    cursor: pointer;
  }